NoiseAndFilter/Debug/
NoiseAndFilter/ipch/
Histogram_Equalization/Debug/
Histogram_Equalization/Histogram_Equalization/
SpatialFilteringUnsharpMasking/Debug/
SpatialFilteringUnsharpMasking/ipch/
4HoughTransform/Debug/
4HoughTransform/ipch/

# Visual C++ cache files
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.cache
SpatialFilteringUnsharpMasking/SpatialFilteringUnsharpMasking/Debug/
5_RGBtoHSI/5_RGBtoHSI/Debug/
5_RGBtoHSI/Debug/
5_RGBtoHSI/ipch/
5_Remake/Debug/
5_Remake/5_Remake/Debug/
5_Remake/ipch/
7_MorphologicalOperations/7_MorphologicalOperations/Debug/
7_MorphologicalOperations/ipch/
7_MorphologicalOperations/Debug/
4HoughTransform/4HoughTransform/Debug/

6_WaveletTransform/Debug/
6_WaveletTransform/6_WaveletTransform/Debug/
6_WaveletTransform/ipch/
6_WaveletTransform_Remake/6_WaveletTransform_Remake/x64/Debug/
6_WaveletTransform_Remake/6_WaveletTransform_Remake/Debug/
NoiseAndFilter/NoiseAndFilter/Debug/
6_WaveletTransform_Remake/ipch/
6_WaveletTransform_Remake/Debug/
6_WaveletTransform_Remake/x64/Debug/
Histogram_Equalization/ipch/
